In [18]:
import pandas as pd
import numpy as np

In [19]:
df=pd.read_table('user141.csv', sep=',')

In [20]:
bottomLeft = (39.77750000, 116.17944444)
bottomRight = (39.77750000, 116.58888889)
topLeft = (40.04722222, 116.58888889)
topRight = (40.04722222, 116.17944444)

In [21]:
print(df)

             lat        long  tep  ht     altitude        date      time  \
0      39.979547  116.306813    0   0  40784.42587   8/29/2011  10:13:15
1      39.979558  116.306823    0   0  40784.42588   8/29/2011  10:13:16
2      39.979575  116.306835    0   0  40784.42589   8/29/2011  10:13:17
3      39.979587  116.306847    0   0  40784.42590   8/29/2011  10:13:18
4      39.979603  116.306852    0   0  40784.42591   8/29/2011  10:13:19
...          ...         ...  ...  ..          ...         ...       ...
64678  40.277603  116.053523    0   0  40839.18810  10/23/2011   4:30:52
64679  40.277658  116.053707    0   0  40839.18811  10/23/2011   4:30:53
64680  40.277710  116.053877    0   0  40839.18813  10/23/2011   4:30:54
64681  40.277767  116.054052    0   0  40839.18814  10/23/2011   4:30:55
64682  40.277815  116.054227    0   0  40839.18815  10/23/2011   4:30:56

       userid        date_time Transportation_Mode  time_delta  trip_id  \
0         141  8/29/2011 10:13                walk           1        1
1         141  8/29/2011 10:13                walk           1        1
2         141  8/29/2011 10:13                walk           1        1
3         141  8/29/2011 10:13                walk           1        1
4         141  8/29/2011 10:13                walk           1        1
...       ...              ...                 ...         ...      ...
64678     141  10/23/2011 4:30                 bus           1       44
64679     141  10/23/2011 4:30                 bus           1       44
64680     141  10/23/2011 4:30                 bus           1       44
64681     141  10/23/2011 4:30                 bus           1       44
64682     141  10/23/2011 4:30                 bus           1       44

       segmentid  Vincenty_distance   velocity  acceleration      jerk
0              1           1.551677   1.551677      0.550164 -1.017630
1              1           2.101840   2.101840     -0.467466  0.732307
2              1           1.634375   1.634375      0.264841 -0.583601
3              1           1.899216   1.899216     -0.318760  0.610088
4              1           1.580456   1.580456      0.291328 -0.803232
...          ...                ...        ...           ...       ...
64678          4          16.745353  16.745353     -1.190703  1.794716
64679          4          15.554650  15.554650      0.604012 -0.941379
64680          4          16.158662  16.158662     -0.337367       NaN
64681          4          15.821295  15.821295           NaN       NaN
64682          4                NaN        NaN           NaN       NaN

[64683 rows x 17 columns]

In [16]:
cols = np.linspace(bottomLeft[1], bottomRight[1], num=18)
rows = np.linspace(bottomLeft[0], topLeft[0], num=15)
df['col'] = np.searchsorted(cols, df['long'])
df['row'] = np.searchsorted(rows, df['lat'])

In [17]:
print(df)

             lat        long  tep  ht     altitude        date      time  \
0      39.979547  116.306813    0   0  40784.42587   8/29/2011  10:13:15
1      39.979558  116.306823    0   0  40784.42588   8/29/2011  10:13:16
2      39.979575  116.306835    0   0  40784.42589   8/29/2011  10:13:17
3      39.979587  116.306847    0   0  40784.42590   8/29/2011  10:13:18
4      39.979603  116.306852    0   0  40784.42591   8/29/2011  10:13:19
...          ...         ...  ...  ..          ...         ...       ...
64678  40.277603  116.053523    0   0  40839.18810  10/23/2011   4:30:52
64679  40.277658  116.053707    0   0  40839.18811  10/23/2011   4:30:53
64680  40.277710  116.053877    0   0  40839.18813  10/23/2011   4:30:54
64681  40.277767  116.054052    0   0  40839.18814  10/23/2011   4:30:55
64682  40.277815  116.054227    0   0  40839.18815  10/23/2011   4:30:56

       userid        date_time Transportation_Mode  time_delta  trip_id  \
0         141  8/29/2011 10:13                walk           1        1
1         141  8/29/2011 10:13                walk           1        1
2         141  8/29/2011 10:13                walk           1        1
3         141  8/29/2011 10:13                walk           1        1
4         141  8/29/2011 10:13                walk           1        1
...       ...              ...                 ...         ...      ...
64678     141  10/23/2011 4:30                 bus           1       44
64679     141  10/23/2011 4:30                 bus           1       44
64680     141  10/23/2011 4:30                 bus           1       44
64681     141  10/23/2011 4:30                 bus           1       44
64682     141  10/23/2011 4:30                 bus           1       44

       segmentid  Vincenty_distance   velocity  acceleration      jerk  col  \
0              1           1.551677   1.551677      0.550164 -1.017630    6
1              1           2.101840   2.101840     -0.467466  0.732307    6
2              1           1.634375   1.634375      0.264841 -0.583601    6
3              1           1.899216   1.899216     -0.318760  0.610088    6
4              1           1.580456   1.580456      0.291328 -0.803232    6
...          ...                ...        ...           ...       ...  ...
64678          4          16.745353  16.745353     -1.190703  1.794716    0
64679          4          15.554650  15.554650      0.604012 -0.941379    0
64680          4          16.158662  16.158662     -0.337367       NaN    0
64681          4          15.821295  15.821295           NaN       NaN    0
64682          4                NaN        NaN           NaN       NaN    0

       row
0       11
1       11
2       11
3       11
4       11
...    ...
64678   15
64679   15
64680   15
64681   15
64682   15

[64683 rows x 19 columns]